/*Containers*/
body{
    background-color: #282828;
}
header{
    background-color: #000000;
    width: 90%;
    height: 15%;
    text-align:center;
    position:relative;
    padding:0 2%;
    margin: 0 3%;
    box-shadow: 0px 0px 2px 2px #005025;
    border: 1px solid #007828;
}
nav{
    background-color: #828282;
    width:80%;
    border: 1px solid #007828;
    position:relative;
}
article{
    background-color: #222222;
    box-shadow: 0px 0px 2px 2px #005025;
    width: 60%;
    height: 75%;
    float:left;
    position:relative;
    margin: 0 2.5%;
    padding: 0 2%;
    margin-top: 1%;
    margin-left: 3%;
    border: 1px solid #007828;
}
aside{
    background-color: #444444;
    box-shadow: 0px 0px 2px 2px #005025;
    width: 27.25%;
    height: 75%;
    float:left;
    margin-right: 2.5%;
    padding-right: %;
    position:relative;
    float: left;
    margin-top: 1%;
    border: 1px solid #007828;
}
footer{
    background-color: #444444;
    height:10%;
    width:90%;
    position:relative;
    float:left;
    margin: 0 3%;
    padding: 0 1%;
    border: 1px solid #007828;
    box-shadow: 0px 0px 2px 2px #005025;
}
/*Text*/
h1{
    color:green;
}
.menu{
    color:#555555;
}
ul.menu{
    list-style-type:none;
}
