<!-- Nav Section -->
<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-item navbar-end">
        <div class="field is-grouped">
            <a href="/" class="navbar-item is-hoverable">Home</a>
            <a href="/announce" class="navbar-item is-hoverable">Announcements</a>
            <a href="/bulletin" class="navbar-item is-hoverable">Bulletin Board</a>
            <a href="/requests" class="navbar-item is-hoverable">Request Services</a>
            <a href="/board" class="navbar-item is-hoverable">Board of Administration</a>
</nav>
<!-- End of Nav Section -->
