<% include partials/header %>

        <title><%= title %></title>

<% include partials/header-end %>

<!-- Hero Section -->

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Announcements</h1>
            <h2 class="subtitle">Stay current with Aragon Plaza</h2>
        </div>
    </div>
</section>

<!-- End of Hero Section -->

<!-- Columns Section-->
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div>
                        <h2 class="title">News</h2>
                        <h3 class="subtitle">Stay informed about the recent happenings involving Aragon Plaza</h3>
                        <script type="text/javascript"></p>
                    </div>
                    <div>
                        <h2 class="title">News</h2>
                        <h3 class="subtitle">Stay informed about the recent happenings involving Aragon Plaza</h3>
                        <p>Lorem ipsum dolor amet +1 stumptown hashtag asymmetrical. Meditation tumblr 8-bit, synth blog crucifix health goth hot chicken kinfolk celiac. Tacos roof party unicorn, kogi organic lyft quinoa cray live-edge church-key. Cronut woke asymmetrical, bicycle rights cold-pressed seitan meh. Mumblecore banh mi ramps hammock vice. Pitchfork cold-pressed +1, palo santo seitan microdosing try-hard roof party echo park neutra sriracha blue bottle fashion axe. Hoodie truffaut yuccie, woke mumblecore church-key pok pok green juice marfa forage put a bird on it.<br><br>

                            Live-edge banh mi poutine brooklyn vaporware, VHS brunch pabst fam. Jean shorts raclette fashion axe sriracha try-hard, typewriter lomo polaroid bicycle rights cred. Austin adaptogen edison bulb asymmetrical distillery snackwave. Tacos hoodie umami hashtag flannel normcore, before they sold out unicorn stumptown vexillologist kogi small batch vinyl. Kale chips typewriter helvetica ennui seitan distillery lyft af franzen narwhal chartreuse vaporware. Offal tofu microdosing af austin gastropub cardigan. Distillery keytar microdosing leggings, pour-over selfies authentic drinking vinegar scenester pop-up semiotics food truck.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
